<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list id="friendslist">
        <form>
            <input class="add-input" placeholder="Friend's Name..." type="text" ng-model="formFriendText" ng-model-instant />
            <button class="button button-positive" id="addfriendbtn" type="submit" ng-click="addFriend();">
                Add a Friend
            </button>
        </form>
        </br>
      <h4>You have {{ getFriendsAmount() }} friends!</h4>
      <ion-item ng-repeat="friend in friends" href="#/hub/friends/{{friend.id}}">
        {{friend.title}}
          <button id="deletefriendbtn" class="button button-positive" ng-click="removeFriend()">Delete</button>
          <button id="deletefriendbtn" class="button button-positive" ng-click="messageFriend()">Message</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
