<ion-view>
    <body ng-controller="HotelsController">
        
        
    <ion-tabs class="tabs-icon-top has-tabs-top tabs-top tabs-dark">


        <!-- Tab 1 -->
        <ion-tab title="My Hotels" icon-on="hotelsTab" icon-off="hotelsTabOff">
            <ion-nav-view name="tab-myhotels"></ion-nav-view>
            <!-- Content for the first Tab -->    
            
            
            <ion-content has-header="true" padding="true">
                <h2>My Hotels Hub</h2>
 

                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/renaissancedallashotel.png">
                        <h2>Renaissance Hotel</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 4.1 stars</p>
                    </a>
                    
                </div>
                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/omnidallashotel.png">
                        <h2>Omni Hotel</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 4.2 stars</p>
                    </a>
                    
                </div>
                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/theadolphus.png">
                        <h2>The Adolphus</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 3.5 stars</p>
                    </a>
                    
                </div>
                
                
                
            </ion-content>
        </ion-tab>
        
        <!-- Tab 2 -->
        <ion-tab title="Friends Hotels" icon-on="hotelsTab" icon-off="hotelsTabOff">
            <ion-nav-view name="tab-friendshotels"></ion-nav-view>
            <!-- Content for the second Tab -->    
            <ion-content has-header="true" padding="true">
                <h2>Friends' Hotels Hub</h2>
                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/renaissancedallashotel.png">
                        <h2>Renaissance Hotel</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 4.1 stars</p>
                        <p>Match: Yes</p>
                    </a>
                    
                </div>
                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/omnidallashotel.png">
                        <h2>Omni Hotel</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 4.2 stars</p>
                        <p>Match: Yes</p>
                    </a>
                    
                </div>
                
                <div class="list">

                    <a class="item item-thumbnail-left">
                        <img src="img/theadolphus.png">
                        <h2>The Adolphus</h2>
                        <p>City: Dallas</p>
                        <p>Rating: 3.5 stars</p>
                        <p>Match: Yes</p>
                    </a>
                    
                </div>
                
            </ion-content>
        </ion-tab>


    </ion-tabs>
        </body>
</ion-view>
